<div>
  <%= render @question %>
</div>

<%# answers %>
<% unless  @question.answers.nil? %>
  <h2><%= pluralize(@question.answers.count, 'answer')%></h2>

  <% @question.answers.each do |ans| %>
    <div>
        <%= ans.body %>
    </div>
  <% end %>
<% end %>

<%# answer the qn %>
<%= link_to 'ans', new_question_answer_path(@question) %>
