<div class=''>
  <div class='bg-gray-100  py-4'>
    <div class="flex px-4">
      <div class="w-1/2 p-4 bg-red-200 flex items-center justify-center">
        <img src="your-image-source" alt="your-image-alt-text">
      </div>
      <div class="w-1/2 p-4 bg-gray-200 text-center">
        Bell
      </div>
    </div>
  </div>
  <div>
    <div class='p-4'>
      <h2 class='text-4xl mt-4'>A broad selection of Courses</h2>
      <p class='text-xl'>Choose from 213,000 online video courses with new additions published every month</p>
      <%# show a dialoque of all courses, change view on click %>
    </div>
    <div class='bg-gray-100'>
      <h2 class='font-bold text-lg p-4'>Students are viewing</h2>
      <%# display a grid view of courses with highest enrollment in desc order %>
    </div>
    <div class='p-4'>
      <h2 class='font-bold text-lg'>Featured Lessons by Topics</h2>
      <%# display most viewed lessons and the course/section they fall under %>
    </div>
  </div>
</div>