<div class="p-4 mx-4">
  <div class="block">
    <h2 class="block text-2xl font-medium mb-2">Course: <%= @course.title %></h2>
    <h3 class="block text-xl font-medium mb-2 px-2">Sections</h3>
  </div>

  <hr class="border-2 my-4">

  <div class="mx-4 bg-white rounded-lg shadow-lg p-4 mb-4">
    <%= turbo_frame_tag 'sections' do %>
      <div class="m-2">
        <%== pagy_nav(@pagy) %>
      </div>
      <% @sections.each do |section| %>
        <div class="my-2 mx-4 font-lg">
          <strong>Section title: </strong><%= link_to section.title, section %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
