<h2>Sections</h2>

<div>
  <%= turbo_frame_tag 'sections' do %>

    <%# pagy %>
    <%== pagy_nav(@pagy) %>
    <% @sections.each do |section| %> 
      <div>
        <%= link_to section.title, section %>
      </div>
    <% end %>
  <% end %>
</div>
