<div>
  <%= render @section %>
</div>


<div>

  <%# lessons for a specific section %>
  <% if @section.lessons.any? %>
    <h3><%= pluralize(@section.lessons.size, 'lesson') %></h3>

    <%= turbo_frame_tag 'lessons' do %>
      <%= link_to 'lessons', section_lessons_path(@section), class: 'btn btn-sm btn-accent' %>
    <% end %>
  <% end %>
</div>