<h3>Courses</h3> 

<% @courses.each do |course| %>
  <%= course.title %>
  <%= course.description %>
  
  <%= link_to 'show', course_path(course) , class: 'btn btn-sm btn-accent' %>
<% end %>

<div>
  <%= link_to 'new course', new_course_path , class: 'btn btn-sm btn-info' %>
</div>