<div>
  <%= render @course %>
</div>

<div class="flex justify-center">

  <%# subscribe to course %>
  <div>
    <% unless @course.sections.empty? %>
      <div class="flex items-center">
        <%= turbo_frame_tag 'subscribe' do %>
          <% unless current_user.subscribed_to?(@course) %>
            <%= link_to 'subscribe', new_course_subscription_url(@course), class: 'btn btn-sm btn-error' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
