<div>
  <%= render @course %>
</div>

<div>

  <div>
    <% if @course.subscribed && @course.sections.any? %>

      <h3><%= pluralize(@course.sections.count, 'section') %></h3>
      
      <%= turbo_frame_tag 'sections' do %>
        <%= link_to 'sections', course_sections_path(@course), class: 'btn btn-sm btn-accent' %>
      <% end %>
    <% end %>
  </div>
</div>
